# Exercício

O objetivo deste exercício é utilizar outra base de dados para testar as amostragens e comparar os resultados

Faça o download e carregue a base de dados credit_data.csv, que possui informações sobre empréstimos (se o cliente pagará ou não pagará o empréstimo)

- Teste cada uma das técnicas de amostragem, selecionando 1000 registros
- Para a amostragem estratificada, utilize o atributo `c#default` para separar as categorias
- No final, faça o comparativo da média utilizando os atributos `age`, `income` e `loan`

## Importando os módulos

In [3]:
import pandas as pd
import sys
sys.path.insert(1, '../src')

from amostragem import amostra_aleatoria_simples, \
    amostragem_sistematica, \
    amostragem_estratificada, \
    amostragem_agrupamento, \
    amostragem_reservatorio

## Leitura da base de dados

In [4]:
dataset = pd.read_csv("../data/raw_data/credit_data.csv")
n_amostras = 100

In [5]:
dataset.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [6]:
dataset.shape

(2000, 5)

## Comparando idades da amostra e população

### Amostra aleatória simples

In [7]:
df_amostra_aleatoria_simples = amostra_aleatoria_simples(dataset, n_amostras)
abs(df_amostra_aleatoria_simples['age'].mean() - dataset['age'].mean())

1.034857018397716

### Amostra sitemática

In [8]:
df_amostra_sistematica = amostragem_sistematica(dataset, n_amostras)
abs(df_amostra_sistematica['age'].mean() - dataset['age'].mean())

0.3295110520733857

In [9]:
df_amostra_sistematica = amostragem_sistematica(dataset, n_amostras)
df_amostra_agrupamento = amostragem_agrupamento(dataset, n_amostras)
df_amostra_estratificada = amostragem_estratificada(dataset, 0.5, 'c#default')
df_amostragem_reservatorio = amostragem_reservatorio(dataset, n_amostras)

In [10]:
print("dataset = ",dataset['age'].mean())
print("df_amostra_aleatoria_simples = ",df_amostra_aleatoria_simples['age'].mean())
print("df_amostra_sistematica = ", df_amostra_sistematica['age'].mean())
print("df_amostra_agrupamento = ", df_amostra_agrupamento['age'].mean())
print("df_amostra_estratificada = ", df_amostra_estratificada['age'].mean())
print("df_amostragem_reservatorio = ", df_amostragem_reservatorio['age'].mean())

dataset =  40.80755937840458
df_amostra_aleatoria_simples =  41.84241639680229
df_amostra_sistematica =  40.47804832633119
df_amostra_agrupamento =  44.921054369259984
df_amostra_estratificada =  40.53363707173919
df_amostragem_reservatorio =  39.91877665568726